/*
Theme Name: Rhea
Theme URI:
Version: 1.0.0
Author:
Author URI:
License: GNU General Public License v2
Text Domain: rhea
*/

.top-contact {
    text-align: right;
}

.type-post .picture__wrapper {
    max-height: 465px;
    overflow: hidden;
}

.picture__wrapper picture,
.picture__wrapper picture > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pagination .current {
    margin: 0 9px;
    border: 3px solid #d84a4a;
    width: 56px;
    height: 56px;
    text-align: center;
    padding: 0;
    border-radius: 100% !important;
    font-size: 24px;
    line-height: 48px;
    background-color: #d84a4a;
    color: #fff;
}

.pagination .current:hover {
    background-color: #d84a4a;
    color: #fff;
    border: 3px solid #d84a4a;
}

.continue-read-blog {
    min-height: 50px;
}

.single-blog-content ul,
.single-our_products .wshipping-content-block .right-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: section;
}

.single-blog-content ul li,
.single-our_products .wshipping-content-block .right-block ul li {
    padding-bottom: 4px;
    position: relative;
    padding-left: 20px;
}

.single-blog-content ul li:before,
.single-our_products .wshipping-content-block .right-block ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 26px;
    content: "•";
    color: #ed1c24;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }

    .single-service-item .service-content {
        min-height: 200px;
    }
}

a.btn-submit {
    background-color: #d84a4a;
    border-color: #e60329;
    color: #fff;
    width: 178px;
    height: 45px;
    font-size: 16px;
}

span.textMessage,
#textMessage {
    width: 100%;
}

.fGallery {
    height: 250px;
}

@media (max-width: 768px) {
    .fGallery {
        width: 100%;
    }
}

.fGallery .fGallery-wrapper,
.fGallery .fGallery-wrapper a {
    width: 100%;
    height: 100%;
}

.fGallery .fGallery-wrapper img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.single-our_services .rhea-service .l-gallery-holder a {
    height: 300px;
    overflow: hidden;
}

.single-our_services .rhea-service .portfolio-holder a {
    height: 200px;
    overflow: hidden;
}

.single-our_services .rhea-service .latest-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.comment-group {
    padding-left: 25px;
}

.depth-2 {
    margin-top: 15px;
    margin-left: 60px;
    padding-top: 15px;
    padding-left: 15px;
    border-top: 1px dashed #b6b6b6;
}

@media (min-width: 1366px) {
    .wshipping-content-block.home2-why-choose:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 600px;
        background-color: #d84a4a;
        z-index: 1;
    }
}

@media (min-width: 1600px) {
    .wshipping-content-block.home2-why-choose:before {
        width: 40%;
        height: 160%;

    }
}

.quote-form .wpcf7-not-valid-tip,
.quote-form .wpcf7-response-output {
    color: white;
}

.you-may-like {
    margin-top: 25px;
}

.you-may-like .blog-item {
    height: 100%;
    margin-bottom: 0;
}

.comment-sec {
    margin-top: 25px;
}

.affix-quote .right-quote-from {
    background-color: white;
    display: none;

}

@media (min-width: 992px) {
    .affix-custom {
        position: fixed;
        top: 50px;
        z-index: 9999 !important;
        max-width: 220px;
    }
}

@media (min-width: 1200px) {
    .affix-custom {
        max-width: 262px;
    }
}

.banner {
    text-align: center;
    height: 100px;
    overflow: hidden;
}

.banner a {
    font-size: 20px;
}

.banner img {
    display: block;
    width: 100%;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

.banner__wrapper {
    padding: 0;
    padding-top: 10px;
}

.footer-wiz.footer-menu a {
    height: 100%;
}

.footer-wiz.footer-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.row.equal-full {
    display: flex;
    flex-wrap: wrap;
}

.row.equal-full a.latest-gallery {
    width: 100%;
    height: 100%;
}

.row.equal-full a.latest-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#contact__form--popup {
    position: relative;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.mfp-close {
    height: 36px;
    line-height: 36px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.right-block img {
    height: auto;
}

.btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    background-color: #af2828;
}

.single-service-item h4 a {
    color: #444;
    text-decoration: unset;
}

.single-service-item h4 a:hover {
    color: #666;
}

.single-service-item .service-item-bg a {
    display: block;
    width: 100%;
    height: 100%;
}

.location_map a {
    display: block;
    width: 100%;
    height: 100%;
}
